
body {
	font-size: 14px;
	font-family: verdana,arial;
	text-decoration: none;
}

td {
	font-size: 14px;
	color: #000;
	font-family: verdana,arial;
	text-decoration: none;
}

div.content {
	padding-left: 2em;
	padding-right : 2em;
}

img.speaker {
	width: 100px;
	height: 100px;
	margin: 0 2em 1em 0;
	border: 1px solid orange;
	overflow: hidden;
	float: left;
}

pre {
	font-family:verdana,arial;
}

a:link {
	font-size: 14px;
	color: #0033cc;
	font-family:verdana,arial;
}

a:visited {
	font-size: 14px;
	color: #cc0000;
	font-family: verdana,arial;
}

a:hover {
	font-size: 14px;
	color: #cc3333;
	font-family: verdana,arial;
}

a:active {
	font-size: 14px;
	color: #000033;
	font-family: verdana,arial;
}

ul {
	line-height: 19px;
}

.news  {
	font-size:12px;
	border:0px solid;
	background-color: #f9f9f9; 
	padding:5px 5px;
	text-indent: 2em;
	text-align: left;
	margin:5px;
}

.head {
	background-color:#ddd;
	font-weight:bold;
	text-align:center;
}

#announcement {
	font-size:12px;
	border:1px solid orange;
	background-color: #fffacd; 
	padding:2px 5px;
	text-indent: 2em;
	text-align: left;
}

#container {
	width:900px;
	margin:0 auto;
}

#sponsors {
	padding: 10px 10px;
	margin:20px auto;
	width:800px;
	border:1px dashed orange;
	font-weight:bold;
}

img.sponsors{
	border:1px solid orange;
	height:50px;
	width:120px;
}
