<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html401/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>注册新用户</title>
	</head>
	<body>
		<hr size="1">
		<form action="<!-- TMPL_VAR HOME -->/users/reg" method="POST" name="reg" id="reg">
	 	<table cellspacing="5" cellpadding="0" width="600" border="0" align="center">
			<tr>				
				<td align="right"><font color=red>*</font>用户Email:</td>
				<td><input type="text" name="userid" maxlength="32" value=""><!-- TMPL_VAR err_userid --></td>
			</tr>
			<tr>
				<td align="right"><font color=red>*</font>用户姓名:</td>
				<td><input type="text" name="name" maxlength="32" value=""> <!-- TMPL_VAR err_name --></td>
			</tr>
			<tr>
				<td align="right"><font color=red>*</font>用户密码:</td>
				<td><input type="password" name="passwd" maxlength="16" value=""> <!-- TMPL_VAR err_passwd -->(6-16位字母或数字的组合)</td>
			</tr>
			<tr>
				<td align="right"><font color=red>*</font>确认密码:</td>
				<td><input type="password" name="confirm_passwd" maxlength="16" value=""> <!-- TMPL_VAR err_confirm_passwd --></td>
			</tr>
			<tr>
				<td align="right">联系电话:</td>
				<td><input type="text" name="phone" maxlength="16" value=""> <!-- TMPL_VAR err_phone --></td>
			</tr>
			<tr>
				<td align="right">从事行业:</td>
				<td><input type="text" name="occupation" maxlength="256" value=""> <!-- TMPL_VAR err_occupation -->(内容需小于256字节)</td>
			</tr>
			<tr>
				<td align="right" valign="top">您是:</td>
				<td>
					<input type="radio" name="attr" value="audience" checked>听众<br/>
					<input type="radio" name="attr" value="speaker">演讲者<br/>
					<input type="radio" name="attr" value="volunteer">志愿者 <!-- TMPL_VAR err_attr -->
				</td>
			</tr>
			<tr>
				<td align="right" valign="top">个人简介:</td>
				<td><textarea rows="5" cols="40" name="profile"></textarea> <!-- TMPL_VAR err_profile -->(内容需小于512字节)</td>
			</tr>
			<tr>
				<td align="right"><font color=red>*</font>验证码:</td>
				<td valign="bottom"><input type="text" name="check_sum" size="4" maxlength="4"  value=""> <img src="<!-- TMPL_VAR HOME -->/captcha/gen" border="0" alt="check sum img"> <!-- TMPL_VAR err_check_sum --></td>
			</tr>
			<tr>
					<td><input type="hidden" name="do_reg" value="1"></td>					
					<td><input type="submit" name="submit" value="注册"></td>
			</tr>
			<tr>
					<td colspan="2"><font color="blue"><b><i>(注册成功即参加 YAPC::Beijing 会议报名成功!)</i></b></font></td>
			</tr>
		</table>
		</form>
		<center>
	 	<p>
    		<a href="http://validator.w3.org/check?uri=referer">
    		<img src="/images/valid-html401.png" alt="Valid HTML 4.01 Frameset" style="border:0;width:88px;height:31px">
    		</a>  
    		<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="/images/vcss.gif" alt="Valid CSS!" />
 			</a>
  		</p>
  		</center>
  	</body>
</html>
