<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html401/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>-= YAPC::Beijing =-</title>
	</head>
	<body>
		<table bgcolor="#fffff0" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center" bgcolor="#ffffff" valign="bottom">
						<a href="<!-- TMPL_VAR HOME -->"><img alt="YAPC::Beijing" src="/images/yapc_logo.png" style="border: 0px solid ;"></a>
					<table>
						<tbody>
							<tr>
								<td>
									<a href="<!-- TMPL_VAR HOME -->">主页</a>
									| <a href="<!-- TMPL_VAR HOME -->/users/_manage">用户资料</a>
									| <a href="<!-- TMPL_VAR HOME -->/users/_edit_passwd">修改密码</a>
									| <a href="<!-- TMPL_VAR HOME -->/files/_manage">上传资料</a>
									| <a href="<!-- TMPL_VAR HOME -->/users/logout"><!-- TMPL_VAR USERID -->退出</a>
									| <a href="http://www.perlchina.org">PerlChina社区</a> 
									| <a href="/pages/about_us.html">关于我们</a> 
									| <a href="/pages/contact.html">联系</a>
								</td>
							</tr>
						</tbody>
					</table>
					<hr width="80%">
					</td>
				</tr>
			</tbody>
		</table>
		<center>
		<form action="<!-- TMPL_VAR HOME -->/users/_edit_passwd" method="POST" name="edit" id="edit">
		<table>
			<tbody>
				<tr>
					<td align="center" colspan="2">
						<h1>修改密码</h1>
					</td>
				</tr>
				<tr>
					<td align="right"><font color=red>*</font>用户当前密码:</td>
					<td><input type="password" name="passwd" maxlength="16" value=""> <!-- TMPL_VAR err_passwd -->(6-16位字母或数字的组合)</td>
				</tr>
				<tr>
					<td align="right"><font color=red>*</font>设置新密码:</td>
					<td><input type="password" name="new_passwd" maxlength="16" value=""> <!-- TMPL_VAR err_new_passwd -->(6-16位字母或数字的组合)</td>
				</tr>

				<tr>
					<td align="right"><font color=red>*</font>确认新密码:</td>
					<td><input type="password" name="confirm_new_passwd" maxlength="16" value=""> <!-- TMPL_VAR err_confirm_new_passwd --></td>
				</tr>
				<tr>
					<td align="right"><font color=red>*</font>验证码:</td>
					<td valign="bottom"><input type="text" name="check_sum" size="4" maxlength="4"  value=""> <img src="<!-- TMPL_VAR HOME -->/captcha/gen" border="0" alt="check sum img"> <!-- TMPL_VAR err_check_sum --></td>
				</tr>
				<tr>
						<td><input type="hidden" name="do_edit_passwd" value="1"></td>
						<td><input type="submit" name="submit" value="修改"></td>
				</tr>
			</tbody>
		</table>
		</form>
		</center>
		<center>
	 	<p>
    		<a href="http://validator.w3.org/check?uri=referer">
    		<img src="/images/valid-html401.png" alt="Valid HTML 4.01 Frameset" style="border:0;width:88px;height:31px">
    		</a>  
    		<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="/images/vcss.gif" alt="Valid CSS!" />
 			</a>
  		</p>
  		</center>
  	</body>
</html>

